body {
    font-family: Kanit, Kanit;
    margin: 0;
    padding: 0;
    background-color: #1E90FF !important; /* Forzar azul oscuro */
}

header {
    background-color: #004080;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.gallery img {
    max-width: 30%;
    border-radius: 8px;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 3.5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
